<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sharmouta Chat</title>
        <link rel="stylesheet" href="../public/styles.css">
    </head>
    <body>
        <div id="input-wrapper">
            <form method="post" action="/messages/send">
                <input type="text" id="message" name="message" required autocomplete="off" style="width: 90%; height: 2em; padding: 5px; font-size: 14px;">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <input type="submit" value="Send">
            </form>
        </div>
    </body>

</html>